aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.0.6
anthropic==0.3.8
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
autopep8==1.6.0
backports.cached-property==1.0.1
banana-cli==0.0.14
beautifulsoup4==4.10.0
billiard==3.6.4.0
bs4==0.0.1
cachetools==4.2.2
cassandra-driver==3.25.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.7
Click==7.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cloudpickle==2.2.1
cqlengine==0.21.0
croniter==1.4.1
cssselect==1.1.0
dask==2023.3.0
dataclasses-json==0.5.14
distlib==0.3.4
distributed==2023.3.0
distro==1.8.0
dnspython==2.1.0
docker==5.0.3
exceptiongroup==1.1.2
feedfinder2==0.0.4
feedly==0.11.3
feedly-client==0.25
feedparser==6.0.8
filelock==3.3.2
frozenlist==1.4.0
fsspec==2023.6.0
fuzzywuzzy==0.18.0
geomet==0.2.1.post1
gitdb==4.0.10
GitPython==3.1.32
google-api-core==1.29.0
google-api-python-client==2.7.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
h11==0.14.0
html5==0.0.9
htmlmetadata==1.1
httpcore==0.17.3
httplib2==0.19.1
httpx==0.24.1
idna==2.10
importlib-resources==6.0.1
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.1.0
kombu==5.0.2
langchain==0.0.261
langsmith==0.0.20
locket==1.0.0
lxml
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-oneofschema==3.0.1
mixpanel-utils==2.1.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==0.4.3
newspaper3k==0.2.8
nltk==3.6.5
numexpr==2.8.5
numpy==1.25.2
oauth2client==4.1.3
oauthlib==3.1.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
packaging==23.1
partd==1.4.0
pathlib==1.0.1
pathspec==0.9.0
pendulum==2.1.2
Pillow==8.4.0
pipdeptree==2.10.2
platformdirs==2.5.2
prefect==1.4.1
prompt-toolkit==3.0.18
protobuf==3.17.2
psutil==5.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydantic==1.10.12
pymongo==4.2.0
pyparsing==2.4.7
python-box==7.0.1
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-slugify==8.0.1
pytz==2021.1
pytzdata==2020.1
PyYAML==6.0
redis==3.5.3
regex==2021.8.28
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.0
rsa==4.7.2
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3
spotipy==2.18.0
SQLAlchemy==2.0.19
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.2
termcolor==2.3.0
text-unidecode==1.3
tinysegmenter==0.3
tldextract==3.1.2
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
tqdm==4.62.3
typing-inspect==0.9.0
typing_extensions==4.3.0
uritemplate==3.0.1
urllib3==1.26.5
uuid==1.30
vine==5.0.0
virtualenv==20.15.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.6.1
yarl==1.9.2
youtube-transcript-api==0.6.0
zict==3.0.0
